<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jh.memory"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
     <!-- To store the heap dumps and leak analysis results. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.jh.memory.PerformanceApplication"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jh.memory.MainActivity"
            android:label="@string/hello_world" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 内存泄漏 start -->
         <activity 
            android:name="com.jh.memory.leak.MemoryLeakMainActivity"
            android:label="@string/memory_leak_issues"
             ></activity>
         <activity 
            android:name="com.jh.memory.leak.StaticContextMemoryLeakActivity"
            android:label="@string/static_context_leak_issues"
             ></activity>
         <activity 
            android:name="com.jh.memory.leak.HandlerMemoryLeakActivity"
            android:label="@string/handler_leak_issues"
             ></activity>
         <!-- 内存泄漏 end -->
         <!-- 内存分析工具 start -->
         <activity 
            android:name="com.jh.memory.tools.MemoryToolsMainActivity"
            android:label="@string/memory_analy_main"
             ></activity>
         <activity 
            android:name="com.jh.memory.tools.mat.MemoryAnalyzerToolActivity"
            android:label="@string/memory_analyzer_tools"
             ></activity>
         <!-- 内存分析工具 end -->
         <!-- 内存优化 start -->
          <activity 
            android:name="com.jh.memory.optimize.MemoryOptimizeMainActivity"
            android:label="@string/memory_analy_main"
             ></activity>
         <activity 
            android:name="com.jh.memory.optimize.CautionCustomViewActivity"
            android:label="@string/memory_caution_customview"
             ></activity>
         <!-- 内存优化 end -->
          <activity 
            android:name="com.jh.memory.DemoActivity"
            android:label="@string/demo_activity"
             ></activity>
          
          <!-- threadperformance optimize start-->
          <activity 
            android:name="com.jh.performance.threadoptimize.activity.ThreadPriorityActivity"
            android:label="@string/thread_and_priority"
             ></activity>
          <activity 
            android:name="com.jh.performance.threadoptimize.activity.ThreadMemoryActivity"
            android:label="@string/thread_and_memory"
             ></activity>
          <!-- threadperformance optimize end-->
          
          <!-- blockcanary activity -->
          <activity
            android:name="com.github.moduth.blockcanary.ui.DisplayBlockActivity"
            android:icon="@drawable/block_canary_icon"
            android:label="@string/display_activity_label"
            android:taskAffinity="com.github.moduth.blockcanary"
            android:theme="@style/block_canary_BlockCanary.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
          
          
    </application>

</manifest>
